* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Lato", sans-serif;
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}

.booksCont {
  margin: 20px auto;
  border: 3px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.book {
  background-color: lightskyblue;
  padding: 7px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 4fr;
  align-items: center;
}

.book:nth-child(even) {
  background-color: #fff;
}

.bookTitle {
  font-size: 1.1em;
  font-weight: bold;
}

.bookAuthor {
  margin-left: 0;
  font-size: 0.9em;
  font-weight: bold;
  justify-self: left;
}

.removeBtn {
  width: 100px;
  padding: 5px 10px;
  font-size: 0.9em;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  justify-self: right;
}

.hr {
  height: 3px;
  background-color: black;
  width: 150px;
  margin: 40px auto;
}

.addBook {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
}

.addBook h2 {
  font-size: 1.8em;
  font-weight: bold;
}

input {
  padding: 7px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#addBtn {
  padding: 7px 30px;
  font-size: 0.9em;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  justify-self: right;
}
