/* ########### Reset Styling ########## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* ########### General Styling ########## */

body {
  max-width: 1100px;
  margin: 0 auto;
  color: #004570;
  background-color: rgb(200, 240, 255);
}

.bodyContainer {
  height: calc(100vh - 120px);
  display: grid;
  align-items: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

a {
  color: #004570;
  font-size: 1.1em;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style: none;
}

i {
  color: #ff3860;
  margin-right: 5px;
}

h2 {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #fff;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 13px 30px;
  margin-bottom: 40px;
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* ########### Header nav ########## */

header {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #fff;
  margin-top: 5px;
  height: 55px;
  padding: 0 15px;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.navLink {
  border-right: 3px solid #003557;
  padding: 5px 0;
  padding-right: 10px;
}

.navLink:nth-child(3) {
  border-right: none;
  padding-right: 0;
}

.navLink a:hover {
  color: #ff3860;
  transform: scale(2);
  transition: 0.5s;
}

.logo i {
  margin-right: 5px;
}

.dateAndTime {
  text-align: right;
  padding-right: 5px;
  margin-top: 5px;
  font-weight: bold;
}

/* ########### Book List Section ########## */

#bookList {
  display: block;
  transition: all 0.5s;
}

.booksCont {
  margin: 20px auto;
  color: #000;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.book {
  text-align: left;
  background-color: #fff;
  padding: 7px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.book:nth-child(even) {
  background-color: lightskyblue;
}

.bookTitle {
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 10px;
}

.bookAuthor {
  margin-left: 0;
  font-size: 0.9em;
  font-weight: bold;
  justify-self: left;
}

.removeBtn {
  width: 100px;
  padding: 5px 10px;
  font-size: 0.9em;
  font-weight: bold;
  border: 2px solid #004570;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  justify-self: right;
}

/* ########### Add Book Section ########## */

#addBook {
  display: none;
  transition: all 0.5s;
}

.addBook {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#addBtn {
  padding: 10px 70px;
  font-size: 1em;
  font-weight: bold;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  justify-self: center;
}

/* ########### Contact Section ########## */

#contact {
  display: none;
  transition: all 0.5s;
}

.contactInfo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
}

.contact .container h4 {
  font-size: 1.2em;
}

.contact .container ul {
  margin-top: 20px;
  text-align: left;
  list-style: disc;
  padding-left: 30px;
}

.contact .container ul li {
  font-size: 1.1em;
  margin-top: 10px;
}

.contact ul li i {
  color: #4fce5d;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 5px;
}

/* ########### Footer ########## */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 880px;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 5px;
  height: 55px;
  padding: 0 15px;
  border: 3px solid #004570;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
}

.footerLink {
  font-size: 1em;
}
